<footer class="footer" id="footer">
  <div class="footer__arrow">
    <a class="footer__arrow__link" href="index.html#header"><img class="footer__arrow__link__img" src=""
        alt="Arrow pointing to the top of the page"></a>
  </div>
  <nav class="footer__nav1">
    <li class="footer__nav1__listitem"><a class="footer__nav1__listitem__link" href="" target="__blank"
        title="The best articles">Articles</a></li>
    <li class="footer__nav1__listitem"><a class="footer__nav1__listitem__link" href="" target="__blank"
        title="All available books">Books</a></li>
    <li class="footer__nav1__listitem"><a class="footer__nav1__listitem__link" href="" target="__blank"
        title="Next events"></a>Events</li>
    <li class="footer__nav1__listitem"><a class="footer__nav1__listitem__link" href="index.html#reasons"
        target="__blank" title="All reasons to purchase"></a>Reasons</li>
    <li class="footer__nav1__listitem"><a class="footer__nav1__listitem__link" href="index.html#tips" target="__blank"
        title="Do you need a tip?">Tips</a></li>
  </nav>
  <nav class="footer__nav2">
    <li><a href="https://twitter.com/?lang=en" title="Follow us on Twitter">Twitter</a></li>
    <li><a href="https://www.instagram.com/" title="Follow us on Instagram"></a>Instagram</li>
    <li><a href="https://mastodon.social/web/explore" title="Follow us on Mastodon"></a>Mastodon.social</li>
  </nav>
  <p>&copy;2022</p>
  <p>we<img src="" alt="Heart symbol">components</p>
  <!-- <p>we<i class="fa-solid fa-heart"></i>components</p> -->
</footer>