<footer class="footer">
  <include src="./img-button.html" buttonClass="footer__arrow" aClass="footer__arrow__link" aRef="index.html#header"
    aTitle="Return to the top of the page" imgClass="footer__arrow__link__img" imgSrc="\assets\images\ico-arrow.png"
    imgAlt="Arrow pointing to the top of the page"></include>
  <div class="footer__navs__container">
    <nav class="footer__navs__container__nav1">
      <ul class="footer__navs__container__nav1__list">
        <include src="./list-item.html" liClass="footer__navs__container__nav1__list__item"
          aClass="footer__navs__container__nav1__list__item__link" aTitle="The best articles" listItem="Articles">
        </include>
        <include src="./list-item.html" liClass="footer__navs__container__nav1__list__item"
          aClass="footer__navs__container__nav1__list__item__link" aTitle="All available books" listItem="Books">
        </include>
        <include src="./list-item.html" liClass="footer__navs__container__nav1__list__item"
          aClass="footer__navs__container__nav1__list__item__link" aTitle="Next events" listItem="Events"></include>
        <include src="./list-item.html" liClass="footer__navs__container__nav1__list__item"
          aClass="footer__navs__container__nav1__list__item__link" aTitle="All reasons to purchase" listItem="Reasons">
        </include>
        <include src="./list-item.html" liClass="footer__navs__container__nav1__list__item"
          aClass="footer__navs__container__nav1__list__item__link" aTitle="Do you need a tip?" listItem="Tips">
        </include>
      </ul>
    </nav>
    <nav class="footer__navs__container__nav2">
      <ul class="footer__navs__container__nav2__list">
        <include src="./list-item.html" liClass="footer__navs__container__nav2__list__item"
          aClass="footer__navs__container__nav2__list__item__link" aTitle="Follow us on Twitter" listItem="Twitter">
        </include>
        <include src="./list-item.html" liClass="footer__navs__container__nav2__list__item"
          aClass="footer__navs__container__nav2__list__item__link" aTitle="Follow us on Instagram" listItem="Instagram">
        </include>
        <include src="./list-item.html" liClass="footer__navs__container__nav2__list__item"
          aClass="footer__navs__container__nav2__list__item__link" aTitle="Follow us on Mastodon"
          listItem="Mastodon.social"></include>
      </ul>
    </nav>
  </div>
  <div class="footer__ps__container">
    <p class="footer__ps__container__p1">&copy;2022</p>
    <p class="footer__ps__container__p2">we
      <i class="fa-solid fa-heart"></i>
      components
    </p>
  </div>
</footer>