<section class="hero" id="hero">
    <h1 class="hero__title">Anonymous proxy</h1>
    <p class="hero__p">All your <span class="capitalize">front end</span> solutions just one click away</p>
    <include src="./img-button.html" buttonClass="hero__arrow" aClass="hero__arrow__link" aRef="index.html#reasons"
        aTitle="Go to reasons" aTarget="_self" imgClass="hero__arrow__link__img"
        imgSrc="http://beta.adalab.es/modulo-1-evaluacion-final-Yarap07/assets/images/ico-scroll-down.png"
        imgAlt="Arrow pointing to the Reasons section"></include>
</section>