<section class="reasons" id="reasons">
    <h2 class="reasons__title capitalize">3 reasons to purchase</h2>
    <include src="./article.html" articleClass="reasons__article1" titleClass="reasons__article1__title"
        title="Make it easier" pClass="reasons__article1__p"
        p="All the front end solutions you can imagine just one click away"></include>
    <include src="./article.html" articleClass="reasons__article2" titleClass="reasons__article2__title"
        title="Make it fast" pClass="reasons__article2__p"
        p="Professionals available 24 hours a day and 365 days a year"></include>
    <include src="./article.html" articleClass="reasons__article3" titleClass="reasons__article3__title"
        title="Make it outstanding" pClass="reasons__article3__p" p="The best professionals at your service"></include>
    <include src="./button.html" buttonClass="reasons__button" buttonValue="More reasons"></include>
</section>