<section class="reasons" id="reasons">
    <h2 class="reasons__title capitalize">3 reasons to purchase</h2>
    <ul class="reasons__list">
        <include src="./list-item.html" liClass="reasons__list__item" titleClass="reasons__list__item__title"
            title="Make it easier" pClass="reasons__list__item__p"
            p="All the Front End solutions you can imagine just one click away">
        </include>
        <include src="./list-item.html" liClass="reasons__list__item" titleClass="reasons__list__item__title"
            title="Make it faster" pClass="reasons__list__item__p"
            p="Professionals available 24 hours a day and 365 days a year">
        </include>
        <include src="./list-item.html" liClass="reasons__list__item" titleClass="reasons__list__item__title"
            title="Make it better" pClass="reasons__list__item__p"
            p="The best professionals in the world at your service">
        </include>
    </ul>
    <include src="./text-button.html" buttonClass="reasons__button click-effect" aClass="reasons__button__link"
        buttonText="More reasons"></include>
</section>