<section class="module1">
    <p class="module1__p--little">Insomnia tips</p>
    <h2 class="module1__title capitalize">Looking through a window</h2>
    <p class="module1__p--medium">
        <span class="capitalize">front end</span> means inspection, discovery, growth and all those little things you
        find on your way to improvement. A
        look at a far beyond world full of possibilities through a tiny small window. Investigate as much as you can,
        even when you think you know everything. Inspect every single step
        you make, to learn from your mistakes and your achievements. Don't fear to discover a new world and all the
        incredible features it can provide.
    </p>
    <button class="module1__button" type="button" value="Go"></button>
</section>