// fonts
$font-main: "Roboto", sans-serif;
$font-secondary: "Roboto Slab", serif;

// colors
$orange: #f26002;
$white: #ffffff;
$lightblue: #8ccbea;
$blue: #0271bc;
$darkblue: #304268;
$black: #000000;
$darkgrey: #4a4a4a;
$lighterblue: #eff9ff;
