.hero {
  width: 100%;
  height: 67.9vh;
  background-image: url("http://beta.adalab.es/modulo-1-evaluacion-final-Yarap07/assets/images/cover.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  color: $white;
  text-align: center;
  padding-bottom: 34.1px;
  &__title {
    font-size: 4.2rem;
    font-family: $font-secondary;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.31;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    margin-bottom: 7px;
  }
  &__p {
    font-size: 1.6rem;
    font-family: $font-main;
    font-weight: 400;
    line-height: 1.19;
    margin: 5px 42.8px 35.2px 33.9px;
  }
  &__arrow {
    width: 37.9px;
    height: 37px;
    background-color: $white;
    border: none;
    border-radius: 50%;
    &__link {
      padding: 10px 10px;
      &__img {
        width: 16.8px;
        height: 9.6px;
        position: relative;
        top: 2px;
      }
    }
  }
  @media all and (min-width: 320px) {
    height: 96vh;
    padding-bottom: 45px;
    &__title {
      font-size: 8rem;
      line-height: 1.33;
      margin: 0px 78.4px 20px 37.8px;
    }
    &__p {
      font-size: 2.4rem;
      line-height: 1.17;
      margin: 0px 234.2px 0px 193.7px;
      padding: 0px 20px;
    }
    &__arrow {
      width: 42.5px;
      height: 45px;
      margin-top: 10px;
      position: relative;
      right: 2.5%;
      &__link {
        padding: 13px 10px;
        &__img {
          width: 18.9px;
          height: 11.7px;
          top: 4px;
        }
      }
    }
  }
  @media all and (min-width: 768px) {
    height: 97.6vh;
    padding-bottom: 13px;
    &__title {
      font-size: 10rem;
      line-height: 1.32;
      margin: 5px 0px;
      word-spacing: 4ch;
      text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    }
    &__p {
      line-height: 1.17;
      margin: 0;
      margin-bottom: 34px;
    }
    &__arrow {
      width: 45px;
      height: 45px;
      margin: 0;
      right: 0;
      &__link {
        &__img {
          width: 20px;
          height: 11.7px;
          padding: 0px 1px;
          right: 0.3px;
          top: 4px;
        }
      }
    }
  }
}
