.hero {
  width: 100%;
  height: 67.9vh;
  max-height: 67.9vh;
  background-image: url("http://beta.adalab.es/modulo-1-evaluacion-final-Yarap07/assets/images/cover.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  gap: 10px;
  color: $white;
  text-align: center;
  padding-bottom: 34.1px;
  &__title {
    font-size: 4.2rem;
    font-family: $font-secondary;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.31;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  }
  &__p {
    font-size: 1.6rem;
    font-family: $font-main;
    font-weight: 400;
    line-height: 1.19;
    margin: 0px 16.5px;
    padding: 0px 20px;
  }
  &__arrow {
    width: 37.9px;
    height: 37px;
    background-color: $white;
    border: none;
    border-radius: 50%;
    margin-top: 25.2px;
    &__link {
      width: 100%;
      padding: 10px 5px;
      position: relative;
      bottom: 4px;
      &__img {
        width: 70%;
        height: 55%;
        transform: scale(0.7, 0.5);
        position: relative;
        top: 7px;
      }
    }
  }
  @media all and (min-width: 320px) {
    height: 96vh;
    max-height: 96vh;
    gap: 0px;
    padding-bottom: 45px;
    &__title {
      font-size: 8rem;
      line-height: 1.33;
      margin: 0px 78.4px 20px 36.8px;
    }
    &__p {
      font-size: 2.4rem;
      line-height: 1.17;
      margin: 0px 234.2px 0px 193.7px;
    }
    &__arrow {
      width: 42.5px;
      height: 45px;
      margin: 7px 390.6px 0px 342.9px;
      &__link {
        width: 100%;
        padding: 13px 5px;
        position: relative;
        bottom: 6px;
        &__img {
          top: 9px;
          transform: scale(0.7, 0.55);
        }
      }
    }
  }
  @media all and (min-width: 768px) {
    height: 97.6vh;
    max-height: 97.6vh;
    padding-bottom: 13px;
    &__title {
      font-size: 10rem;
      line-height: 1.32;
      margin: 0px 275px 3px 275px;
      word-spacing: 5ch;
      text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    }
    &__p {
      line-height: 1.17;
      margin: 0px 275px 34px 275px;
    }
    &__arrow {
      width: 45px;
      height: 45px;
      margin: 0px 627px 0px 618px;
      &__link {
        &__img {
          padding: 0px 1px;
          right: 0.3px;
          top: 10px;
        }
      }
    }
  }
}
