.reasons {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  align-items: center;
  text-align: center;
  background-color: $lighterblue;
  padding-top: 29px;
  padding-bottom: 60px;
  &__title {
    font-family: $font-secondary;
    font-weight: 700;
    font-size: 2.4rem;
    color: $black;
    padding: 0px 15px 49px 15px;
  }
  &__list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    &__item {
      font-size: 1.8rem;
      color: $black;
      padding: 0px 70px 44px 70px;
      line-height: 1.67;
      &__title {
        font-family: $font-secondary;
        font-weight: 700;
        margin-bottom: 2px;
      }
      &__p {
        font-family: $font-main;
        font-weight: 400;
      }
    }
  }
  &__button {
    background-color: $orange;
    border: none;
    border-radius: 22.5px;
    width: 184px;
    height: 45px;
    margin: 0px 68px;
    transition: all 0.2s ease-in-out;
    &__link {
      text-decoration: none;
      font-family: $font-main;
      font-weight: 500;
      font-size: 2rem;
      color: $white;
      padding: 15px 28px;
    }
  }
  @media all and (min-width: 320px) {
    padding-top: 36px;
    &__title {
      font-size: 2.6rem;
      padding-bottom: 55px;
    }
    &__list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto;
      grid-column-gap: 27.7px;
      padding: 0px 40px 0px 35.7px;
      &__item {
        padding: 0px 0px 0px 0px;
        &__title {
          font-size: 2.4rem;
          line-height: 1.25;
          margin-bottom: 18px;
        }
        &__p {
          font-size: 2rem;
          line-height: 1.5;
          margin-bottom: 57px;
        }
      }
    }
    &__button {
      width: 210px;
      position: relative;
      left: 28%;
      &__link {
        padding: 15px 40px;
      }
    }
  }
  @media all and (min-width: 768px) {
    padding-top: 61px;
    &__title {
      font-size: 3.2rem;
    }
    &__list {
      grid-column-gap: 26.2px;
      &__item {
        padding: 0px 40px;
        &__title {
          font-size: 2.4rem;
          line-height: 1.25;
          margin-bottom: 18px;
        }
      }
    }
    &__button {
      width: 255px;
      text-transform: capitalize;
      left: 35%;
      &__link {
        padding: 15px 60px;
      }
    }
  }
}
