.reasons {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  align-items: center;
  text-align: center;
  background-color: $lighterblue;
  padding-top: 9%;
  padding-bottom: 18.8%;
  &__title {
    font-family: $font-secondary;
    font-weight: 700;
    font-size: 2.4rem;
    color: $black;
    padding: 0% 4.7%;
    margin-bottom: 15.5%;
  }
  &__list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    &__item {
      font-size: 1.8rem;
      color: $black;
      padding: 0% 22%;
      margin-bottom: 13.8%;
      line-height: 1.67;
      &__title {
        font-family: $font-secondary;
        font-weight: 700;
        margin-bottom: 2px;
      }
      &__p {
        font-family: $font-main;
        font-weight: 400;
      }
    }
  }
  &__button {
    background-color: $orange;
    border: none;
    border-radius: 22.5px;
    width: 184px;
    height: 45px;
    margin: 0% 21.5%;
    margin-top: 3px;
    transition: all 0.2s ease-in-out;
    &__link {
      text-decoration: none;
      font-family: $font-main;
      font-weight: 500;
      font-size: 2rem;
      color: $white;
      padding: 15px 28px;
    }
  }
  @media all and (min-width: 768px) {
    padding-top: 4.4%;
    padding-bottom: 7.9%;
    &__title {
      font-size: 2.6rem;
      padding: 0% 20.9%;
      margin-bottom: 7.2%;
    }
    &__list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto;
      grid-column-gap: 27.7px;
      padding-left: 4.7%;
      padding-right: 5.2%;
      &__item {
        padding: 0% 0%;
        margin: 0% 0%;
        &__title {
          font-size: 2.4rem;
          line-height: 1.25;
          margin-bottom: 18px;
        }
        &__p {
          font-size: 2rem;
          line-height: 1.5;
          margin-bottom: 57px;
        }
      }
    }
    &__button {
      width: 210px;
      position: relative;
      left: 36.5%;
      margin: 0%;
      &__link {
        padding: 15px 40px;
      }
    }
  }
  @media all and (min-width: 1280px) {
    padding-top: 4.8%;
    padding-bottom: 4.7%;
    &__title {
      font-size: 3.2rem;
      padding: 0% 21.5%;
      margin-bottom: 3.6%;
    }
    &__list {
      grid-column-gap: 26.2px;
      justify-content: center;
      align-items: flex-start;
      padding-left: 6.3%;
      padding-right: 6.5%;
      &__item {
        padding: 0% 12%;
        &__title {
          font-size: 2.4rem;
          line-height: 1.25;
          margin-bottom: 18px;
        }
        &__p {
          margin-bottom: 21%;
        }
      }
    }
    &__button {
      width: 255px;
      text-transform: capitalize;
      left: 40%;
      &__link {
        padding: 15px 60px;
      }
    }
  }
}
