.tips {
  width: 100%;
  padding: 61.9px 15px 45px 15px;
  background-color: $white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
  grid-row-gap: 12px;
  &__p--little {
    font-family: $font-main;
    font-weight: 400;
    font-size: 1.4rem;
    color: $lightblue;
  }
  &__title {
    font-family: $font-secondary;
    font-weight: 700;
    font-size: 2.4rem;
    color: $black;
    margin-bottom: 8px;
  }
  &__p--medium {
    font-family: $font-main;
    font-weight: 400;
    font-size: 1.8rem;
    color: $darkgrey;
    line-height: 1.67;
    margin-bottom: 14px;
  }
  &__button {
    width: 76px;
    height: 45px;
    font-family: $font-main;
    font-weight: 500;
    font-size: 2rem;
    border: solid 2px;
    border-color: $orange;
    background: none;
    border-radius: 22.5px;
    padding-bottom: 1.5px;
    transition: all 0.2s ease-in-out;
    &__link {
      text-decoration: none;
      color: $orange;
      padding: 10px 20px;
    }
  }
  @media all and (min-width: 320px) {
    padding: 37px 0px 60px 39px;
    grid-row-gap: 18px;
    &__p--little {
      font-size: 1.4rem;
    }
    &__title {
      font-size: 2.6rem;
      margin-bottom: 25px;
    }
    &__p--medium {
      font-size: 2rem;
      line-height: 1.5;
      padding-right: 39px;
    }
    &__button {
      width: 91px;
      &__link {
        padding: 10px 30px;
      }
    }
  }
  @media all and (min-width: 768px) {
    padding: 65px 0px 60px 275px;
    grid-row-gap: 16px;
    &__p--little {
      font-size: 1.6rem;
    }
    &__title {
      font-size: 3.2rem;
    }
    &__p--medium {
      padding-right: 275px;
    }
    &__button {
      width: 160px;
      &__link {
        padding: 10px 60px;
      }
    }
  }
}
