.footer {
  width: 100vw;
  background-color: $darkblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: $font-main;
  font-weight: 400;
  position: relative;
  &__arrow {
    width: 14%;
    height: 5.6vh;
    background-color: $white;
    border: none;
    border-radius: 50px;
    position: absolute;
    z-index: 1;
    bottom: 47vh;
    &__link {
      width: 100%;
      height: 100%;
      &__img {
        width: 100%;
        height: 100%;
        border-radius: 50px;
      }
    }
  }
  &__navs__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 65px;
    margin-bottom: 32px;
    &__nav1 {
      &__list {
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 14px;
        padding: 7px 0px;
        &__item {
          &__link {
            text-decoration: none;
            color: $white;
          }
        }
      }
    }
    &__nav2 {
      &__list {
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 14px;
        padding: 7px 0px;
        &__item {
          &__link {
            text-decoration: none;
            color: $white;
          }
        }
      }
    }
  }
}
