.footer {
  width: 100%;
  background-color: $darkblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: $font-main;
  font-weight: 400;
  position: relative;
  padding-top: 20%;
  padding-bottom: 15%;
  &__arrow {
    width: 45px;
    height: 45px;
    background-color: $white;
    border: none;
    border-radius: 50%;
    position: absolute;
    bottom: 95.5%;
    animation-name: color;
    animation-duration: 5s;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
    &__link {
      padding: 13px 10px;
      position: relative;
      bottom: 6px;
      &__img {
        width: 20.6px;
        height: 24px;
        position: relative;
        top: 8px;
      }
    }
  }
  &__navs--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 32px;
    font-size: 1.6rem;
    &__nav1 {
      &__list {
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 14px;
        padding: 8px 0px;
        &__item {
          &__link {
            text-decoration: none;
            color: $white;
          }
        }
      }
    }
    &__nav2 {
      &__list {
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 14px;
        padding: 8px 0px;
        &__item {
          &__link {
            text-decoration: none;
            color: $white;
          }
        }
      }
    }
  }
  &__ps--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 2.14;
    font-size: 1.4rem;
    color: $white;
    &__p2 {
      .fa-heart {
        color: $orange;
        font-size: 1.15rem;
        transform: scale(1, 0.8);
      }
    }
  }
  @media all and (min-width: 320px) {
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 128px;
    padding: 6.5% 5.1% 5.2% 5.1%;
    &__arrow {
      bottom: 90.1%;
      transform: translateX(730%);
    }
    &__navs--container {
      flex-direction: row;
      align-items: flex-start;
      gap: 160px;
      margin: 0;
      &__nav1 {
        &__list {
          justify-content: flex-start;
          align-items: flex-start;
          padding: 0px 0px;
        }
      }
      &__nav2 {
        &__list {
          justify-content: flex-start;
          align-items: flex-start;
          padding: 0px 0px;
        }
      }
    }
    &__ps--container {
      justify-content: flex-start;
      align-items: flex-start;
      &__p1 {
        line-height: 1;
        margin-bottom: 2px;
      }
    }
  }
  @media all and (min-width: 768px) {
    justify-content: center;
    align-items: start;
    gap: 70px;
    padding: 3.9% 0% 3.5% 0%;
    &__arrow {
      transform: translateX(0%);
    }
    &__navs--container {
      gap: 120px;
    }
    &__ps--container {
      padding-bottom: 0%;
      &__p1 {
        margin-bottom: 5px;
      }
    }
  }
}
