.footer {
  width: 100vw;
  background-color: $darkblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: $font-main;
  font-weight: 400;
  position: relative;
  bottom: 0;
  &__arrow {
    width: 45px;
    height: 45px;
    background-color: $white;
    border: none;
    border-radius: 50%;
    position: absolute;
    bottom: 57.5vh;
    animation-name: color;
    animation-duration: 5s;
    box-shadow: 0.5px 2px rgb(52, 51, 51);
    &__link {
      width: 100%;
      padding: 10px;
      position: relative;
      bottom: 0.7vh;
      &__img {
        width: 45%;
        height: 55%;
        margin-top: 15px;
      }
    }
  }
  &__navs__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 65px;
    margin-bottom: 32px;
    font-size: 1.6rem;
    &__nav1 {
      &__list {
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 14px;
        padding: 7px 0px;
        &__item {
          &__link {
            text-decoration: none;
            color: $white;
          }
        }
      }
    }
    &__nav2 {
      &__list {
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 14px;
        padding: 7px 0px;
        &__item {
          &__link {
            text-decoration: none;
            color: $white;
          }
        }
      }
    }
  }
  &__ps__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 36px;
    line-height: 2.14;
    font-size: 1.4rem;
    color: $white;
    padding: 10px;
    &__p2 {
      .fa-heart {
        color: $orange;
        font-size: 1.2rem;
        transform: scale(1, 0.8);
      }
    }
  }
  @media all and (min-width: 320px) {
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 120px;
    &__arrow {
      bottom: 25.5vh;
    }
    &__navs__container {
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 140px;
      margin-top: 50px;
      margin-bottom: 40px;
      &__nav1 {
        &__list {
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          padding: 0px 0px;
        }
      }
      &__nav2 {
        &__list {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          padding: 0px 39px;
        }
      }
    }
    &__ps__container {
      justify-content: flex-start;
      align-items: flex-start;
      padding: 15px 0px 57px 39px;
      &__p1 {
        line-height: 1.5;
      }
    }
  }
  @media all and (min-width: 767px) {
    justify-content: center;
    align-items: center;
    gap: 70px;
    &__arrow {
    }
    &__navs__container {
      gap: 70px;
    }
    &__ps__container {
      padding-left: 0px;
    }
  }
}
